main
  lost-center: 320px
  text-align: center


h1#temp
  font-size: 6em
  text-align: center
  margin 25px 0 0

p#summary
  font-size: 2em
  margin: 0

p#location
  font-size: 1.2em

h2#tomorrow-temp
  font-size: 2em

p#rain-chance
  font-size: 1.5em