body {
  background-color: white;
  font-size: 14px;
  line-height: 1.86;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background: white;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
